/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#params {
    width: 400px;
    position: absolute;

}
#table_sched1 {
    width: 350px;
    position: absolute;
    left: 450px;
}
#table_sched2 {
    width: 350px;
    position: absolute;
    left: 820px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 4px;
}
th {
    text-align: center;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.name {
    text-align: left;
}