body {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #333333;
    background-color: #FAFAFA;
    line-height: 1.55;
    margin: 0;
}
header {
    background: #151f3a;
    width: 100%;
    height: 60px;
}
.logo {
    float: left;
}
.logo img {
    height: 45px;
    margin-top: 7.5px;
    margin-left: 40px;
}
.header-text {
    float: left;
    color: white;
    margin-left: 20px;
    line-height: 60px;
    font-weight: 400;
    font-size: 18px;
}
h1 {
    color: #ed1c24;
}
button {
    border-radius: 5px;
    height: 30px;
    width: 182px;
    background-color: #151f3a;
    color: #FAFAFA;
    border: none;
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;

    font-size: 13px;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: #555;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#calc_container{
    height: 160px;
}

#calc {
    padding: 20px;
}
#fiat {
    padding: 20px
}
#result {
    padding: 20px
}
#params {
    padding: 20px
}

#table_sched1 {
    padding: 20px
}
#table_sched2 {
    padding: 20px
}

td, th {
    border: 1px solid #151f3a;
    text-align: right;
    padding: 2px;
}
th {
    text-align: center;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.name {
    text-align: left;
}
input {
 height: 25px;
 padding-left: 10px;
 font-size: 14px;
 border-radius: 5px;
 border: 1px solid #bdc3c7;
 margin-right: 5px;
}
.param-row {
    margin-bottom: 10px;
}

/* Create three equal columns that float next to each other */
.column_33 {
    float: left;
    width: 33.33%;
}

/* Create two equal columns that float next to each other */
.column_50 {
    float: left;
    width: 50%;
}